
.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel {
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    border-radius: 35px;
}
.Caroimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;

    
}
.carousel__track-container {
    height: 100%;
    background:grey;
    position: relative; left: 40px;
    width: 90%;
    overflow: hidden;
    border-radius: 35px;

    
}
.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: 250ms ease-in;
}
.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    display: none;
}
.carousel__button--left{
    left: 25px;
}
.carousel__button--right{
    right: 25px;
}
.carousel__btn1 {
    color: blue;
    position: absolute; right: 37px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    
}
.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}
.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, .75);
}
.is-hidden {
    display: none;
}

#btn {
    position: relative; width: 100px;height:30px; top: 450px; left: 60px;
    border-radius: 25px ;
    background-color: burlywood;
    color: #000;
    box-shadow: 100px;
    z-index: 7;
}
.txt {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

